:root{
	--theme: #ed6075
}

*,
*::after,
*::before{
	box-sizing:border-box
}

html,
body,
h1,
h2,
p,
button,
ul,
dl,
dd{
	margin:0;
	padding:0;
}

h1,
h2{
	font:inherit
}

ul{
	list-style:none
}

a{
	text-decoration:none;
	color:inherit;
	-webkit-tap-highlight-color:transparent
}

button{
	background:none;
	border:none;
	cursor:pointer;
	font:inherit;
	color:inherit;
	outline:none;
	-webkit-tap-highlight-color:transparent
}

img{
	max-width:100%;
	height:auto
}

.blind{
	font-size:0;
	line-height:0;
	text-indent:-999px
}

@font-face {
    font-family: 'pretend';
    font-weight:400;
    src: url(../fonts/Pretendard-vf.woff2) format(woff2)
}

@font-face {
    font-family: 'mont';
	font-weight:400;
    src: url(../fonts/Montserrat-vf.woff) format(woff)
}

html, body{
    font:400 16px/1 'mont', 'pretend';
	color:#272727;
	letter-spacing:-.04em
}

.forbid_scroll{
	height:100vh;
	overflow:hidden
}

.theme-color{
	color:var(--theme)
}
.theme-bg{
	background-color:var(--theme)
}

main{
	min-height:100vh;
	padding-left:250px;
	background:#efefef;
	overflow:hidden
}

.inner{
	position:relative;
	margin:0 auto;
	padding:0 60px
}

.semi{
	font-variation-settings:'wght' 600;
}

@media (max-width:1000px){
	main{
		padding-top:116px;
		padding-left:0
	}
}

@media (max-width:700px){
	html{
		font-size:10px
	}
	body{
		font-size:1.6rem
	}
	main{
		padding-top:11.6rem
	}
	.inner{
		padding:0 5rem
	}
}

@media (max-width:470px){
	html{
		font-size:9px
	}
	.inner{
		padding:0 3rem
	}
}

@media (max-width:375px){
	html{
		font-size:8px
	}
}

@media (max-width:300px){
	html{
		font-size:7px
	}
}