*,
*::after,
*::before{
	box-sizing:border-box
}

html,
body,
h1,
h2,
p,
button,
ul,
dl,
dd{
	margin:0;
	padding:0;
}

h1,
h2{
	font:inherit
}

ul{
	list-style:none
}

a{
	text-decoration:none;
	color:inherit
}

button{
	background:none;
	border:none;
	cursor:pointer;
	font:inherit;
	color:inherit
}

img{
	max-width:100%;
	height:auto
}

.blind{
	font-size:0;
	line-height:0;
	text-indent:-999px
}

@font-face {
    font-family: 'pretend';
    font-weight:400;
    src: url(../fonts/Pretendard-vf.woff2) format(woff2);
}

@font-face {
    font-family: 'mont';
	font-weight:400;
    src: url(../fonts/Montserrat-vf.woff) format(woff);
}

html, body{
    font:400 16px/1 'mont', 'pretend';
	color:#272727;
	letter-spacing:-.04em
}

.forbid_scroll{
	height:100vh;
	overflow:hidden
}

.mont{
    font-family:'mont'
}

main{
	padding-left:250px;
	background:#efefef;
	overflow:hidden
}

.inner{
	position:relative;
	margin:0 auto;
	padding:0 60px
}